
body,html{
	margin: 0;
	height: 100%;
}
.bg{
	background-image: url("Titelbild.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	opacity: 0.80;
}

.githubkalenderdiv{
	width: 720px;
	margin: auto;
}
.indexButton{
text-align: center  
vertical-align: middle
}

article{

}
a{
     text-decoration: none;
	 color: black;
	 }
a:hover{
	color: blue;
}

#Willkommenstext{

padding: 1%;
background-color: white;
width: 600px;
margin-left: 12.5px;
box-sizing: border-box;



}

