body,html{
	margin: 0;
	height: 100%;

}

.fotoHeader{
background-image: url("TitelbildDunkel.jpg");
background-color:black;
background-attachment:fixed;
height: 500px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.fotoÜberschrift{
text-align:center;
width: 100%;
position: absolute;
top:30%;
font-size: 100px;
color:white;

}
.fotoUnterschrift{
text-align:center;
width: 100%;
position: absolute;
top:55%;
font-size: 30px;
color:white;
}