root{
 
}

html{ 
	background-color:#686868;
	height:100%;

}
#profilbild{
	width:30%;
	float:right;
	padding:1%;
	
}
body{
	Margin:0px;
	background-color:white;
	padding-left:50px;
	padding-right:50px;
	width:60%;
	height:100%;
	margin-left:20%;
	padding-top: 100px;
	
	
}
article{
	padding-top:5px;
	height:100%;
	
}


/* Desktop*/
@media only screen and (min-width: 750px) {
    nav::before{
        display: none;
    }

    nav ul li{
        display:block;
    }
}